h2 {
    font-weight: bold;
}

.card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-dash {
    background: #ff3d00 !important;
}

canvas {
    margin-top: 20px;
}