<div class="container mt-5 text-light" style="width: fit-content;">

    <!-- Header -->
    <h2 class="mb-4 d-flex justify-content-center align-items-center">Admin Profile</h2>

    <div *ngIf="isLoading" class="text-center text-light mt-3">
        <span class="loader"></span>
    </div>

    <!-- Profile Section -->
    <div *ngIf="!isLoading" class="card bg-dark text-light animate__animated animate__zoomIn animate__faster">
        <div class="card-body d-flex align-items-center">

            <!-- Dummy Profile Image -->
            <img src="assets/admin-placeholder.png" alt="Profile" class="rounded-circle" style="width: 150px; height: 150px; margin-right: 20px;" />

            <!-- Profile Details -->
            <div class="border-start border-light ms-2 p-3" style="border-color: grey !important;">
                <h5 class="d-inline-block p-1 rounded" style="background: #504f4f70;">{{ admin.name }}</h5>
                <p class="mb-1"><strong>Admin ID: </strong><code>{{ admin.officerId }}</code></p>
                <p class="mb-1"><strong>Email: </strong><code>{{ admin.email }}</code></p>
                <p class="mb-1"><strong>Admin Access: </strong><code>Root</code></p>
            </div>

        </div>
    </div>
</div>